<html>
  <head>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
<!--
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
-->
<script data-main="js/main" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js"></script>
  </head>
  <body>

    
    <form id="search-movies-form">
      <input type="text" name="search-movie"/>
      <input type="submit" val="Go"/>
    </div>
    

    
    <div class="movies carousel slide" id="myCarousel">
      
      <script type="text/template" id="movie_template">
<!--           <input type="text" id="movieVal"/><button type="button" class="addMovieBtn btn">Search</button> -->
        <div class="carousel-inner">
              
        <% _.each(movies, function(movie, index) { %>
          <% if (index == 0) {   %>     
          <div class="item active" style="margin-left: 15%;">
          <ul class="thumbnails">
          <% } else { 
          if (index % 3 == 0)
          {
        %>
          <div class="item" style="margin-left: 15%;">
          <ul class="thumbnails">
          <% } } %>
  
        <li class="span4">
          <a href="#/tweets/<%= encodeURIComponent(movie.title)%>"><img class="resize" src="" id="<%= movie.title.split(" ").join("-") %>"/></a>
<!--        <a href="#/tweets/<%= movie.title %>"><%= movie.title %></a> -->
        </li>
                <% if (index % 3 == 2) { %>
        </ul>
        </div>
        <% } %>
        <% }); %>

            <a data-slide="prev" href="#myCarousel" class="left carousel-control">Ü</a>
            <a data-slide="next" href="#myCarousel" class="right carousel-control">Ý</a>
            </div>
    </script>
   
    </div>
    
    <div class="tweets-container">
        <img src="twitter.png">
        <p class="text-center">Click on a movie image to begin!</p>

            <script type="text/template" id="tweet_template">
                                        <img src="twitter.png">

              <div class="tweets">
            <p class="text-center"> <b> <%= title %> </b> </p>
        <ul>
        <% _.each(tweets, function(tweet) { %>
        <li> <%= tweet.content %>
        
        </li>
        <% }); %>
        </div>
      </script>
    </div>
    <script type="text/javascript" src="loadLocalData.js"></script>
    
    
    <script type="text/javascript">     
        

      


        
        


    </script>
  </body>
</html>