<div class="pagination">
	<button type="button" class="prev-page btn btn-primary {{^hasPreviousPage}}disabled{{/hasPreviousPage}}">Prev</button>	
	{{#pages}}
	<a href="#" class="page" data-page="{{page_number}}">
		{{#isCurrentPage}}
			{{page_number}}
		{{/isCurrentPage}}
	</a>
	{{/pages}}
	<button type="button" class="next-page btn btn-primary {{^hasNextPage}}disabled{{/hasNextPage}}">Next</button>
</div>

<div class="container">
{{#movies}}
<div class="item" data-movie-id="{{id}}" data-movie-title="{{title}}">
  <div class="poster">
  	<img src="{{base_url}}{{poster_size}}{{poster_path}}" class="img-responsive">
  </div>
  <p class="">
  	<b>{{title}}</b> <br/>
  	{{release_date}} <br/>
  	{{vote_average}} <br/>
  	<button type="button" class="save-movie btn btn-secondary">Add to Favorites</button>
  </p>
</div>
{{/movies}}
</div>